[submodule "plugins/catppuccin"]
	path = plugins/catppuccin
	url = https://github.com/catppuccin/tmux.git
[submodule "plugins/tmux-yank"]
	path = plugins/tmux-yank
	url = https://github.com/tmux-plugins/tmux-yank
[submodule "plugins/tmux-resurrect"]
	path = plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "plugins/tmux-continuum"]
	path = plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
